<?xml version='1.0' encoding='utf-8'?>
<widget id="com.trade1percent.journal" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Trade 1 Percent</name>
    <description>Professional Trading Journal with Cloud Database Syncing</description>
    <author email="admin@trade1percent.com" href="https://trade1percent.com">Trade 1 Percent Team</author>
    
    <content src="index.html" />
    
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    
    <preference name="ScrollEnabled" value="false" />
    <preference name="android-minSdkVersion" value="21" />
    <preference name="android-targetSdkVersion" value="34" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="KeepRunning" value="true" />
    
    <platform name="android">
        <allow-intent href="market:*" />
        <icon src="www/icon.png" />
    </platform>
</widget>

